<div class="container"  #scrollMe>
    <div class="row mt-2">
        <div class="col-sm-12">
            <!-- <agm-polyline [editable]="true">
                <agm-polyline-point *ngFor="let data of dataSource" 
                    [latitude]="data.latitude"
                    [longitude]="data.longitude">
                </agm-polyline-point>
            </agm-polyline> -->


            <agm-map [latitude]="latitude" [longitude]="longitude">
                <agm-marker [latitude]="data.latitude" [longitude]="data.longitude" 
                [iconUrl]="data.iconBase" *ngFor="let data of dataSource"></agm-marker>
                <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
                    <agm-polyline-point *ngFor="let data of drawLine; let i=index" 
                    [latitude]="data.latitude" [longitude]="data.longitude">

                    </agm-polyline-point>
                </agm-polyline>

            </agm-map>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-2">
            <div class="first-table col-sm-6">
                <h2>Add Location Here</h2>
                <table class="table table-striped" style="float: left;">
                    <thead>
                        <tr>
                            <th scope="col-sm-2">Latitude</th>
                            <th scope="col-sm-2">Longitude</th>
                            <th scope="col-sm-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataSource; index as i">
                            <td>{{data.latitude}} </td>
                            <td>{{data.longitude}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-primary">Save</button> &nbsp;&nbsp; -->
                                <button *ngIf="i == dataSource.length-1" type="button" class="btn btn-secondary" (click)="addNewLocation()">Add new</button>
                            </td>
                        </tr>
                        <tr *ngIf="isAddNew">
                            <td>
                                <input type="text" [(ngModel)]="newLatitude" #latitude>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="newLongitude">
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="saveNewLocation()">Save</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="second-table col-sm-6">
                <h2>Added Location </h2>
                <table class="table table-striped" style="float: right;;">
                    <thead>
                        <tr>
                            <th scope="col">Latitude</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataSource; index as i">
                            <td>{{data.latitude}} </td>
                            <td>{{data.longitude}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" (click)="deleteLocation(i)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>